<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyB7IuxXwUFN0pkc6KJ_mRWbCQJUEr5k5wM</string>
	<key>GCM_SENDER_ID</key>
	<string>864370079023</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.dmi3j.push-notification-demo</string>
	<key>PROJECT_ID</key>
	<string>push-notifications-demo-1f7f7</string>
	<key>STORAGE_BUCKET</key>
	<string>push-notifications-demo-1f7f7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:864370079023:ios:de5de2df5dbf7a79741dda</string>
</dict>
</plist>
